{% extends "base.html" %}
{% block content %}

<div class = "info">

        <h1 class = "space">Panda</h1>
        <p>Panda is a loving and bubbly dog filled with personality! He is a Husky and Pomeranian mix and is completely adorable! He loves to take baths and go on walks to the dog park! Panda always plays well with the other dogs and would be a great pet for any family.</p>
        <p><img src = "../static/images/panda.png" height = "242" width = " 314" alt = "Dog named panda"></p>


        <h1>Sandra</h1>
        <p>Sandra is a fluffy ball of fun! You can always find her looking for treats. She loves to be cuddled and her poodle heritage makes her the perfect choice to cuddle with!</p>
        <p><img src = "../static/images/sandra.png" height = "200" width = " 300" alt = "Dog named Sandra"></p>

</div>

{% endblock %}
